# Redis 配置 (P2)
# Nacos Data ID: application-redis.yaml
# Group: DEFAULT_GROUP
# 不支持动态刷新

spring:
  redis:
    redisson:
      config: |
        singleServerConfig:
          address: "redis://localhost:6379"
          password: null
          database: 0
          connectionPoolSize: 50
          connectionMinimumIdleSize: 10
          timeout: 3000
